.banner{
    padding-bottom:.48rem;
    /* // background: url('https://img.yzcdn.cn/public_files/2017/10/23/8690bb321356070e0b8c4404d087f8fd.png') no-repeat,#fff; */
    background: url('../../images/user/home_bg.png') no-repeat,#fff;
    background-size:100%;
}

.user-name-box {
    display: flex;
    padding: 2.0rem 10%
}


.user-name-box>img {
    width: 1.706667rem;
    border-radius: 100%;
    height: 1.706667rem;
    margin-right: .426667rem;
    border: 2px solid #fff;
}

.user-name-box>p {
    font-size: .64rem;
    font-weight: 700;
    color: #fff;
}
